.pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}
.page-item {
    background-color: #3a3e59;
    padding: 2px 5px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.page-link {
    color: white;
    font-weight: 500;
}
.active {
    background: green;
}

.box-shadow {
    background: wheat;
    z-index: 1;
}
